
<% if @add_students %>
 <% if @add_students.size > 0 %>
 
   <div id="search-results" class="well results-block col-md-10">
   <div class="results-block">
   <table class=" col-md-12">
     <tbody>
       <% @add_students.each do |add_student|%>
       <tr><td><strong>Name: </strong> <%=add_student.name%></td></tr>
       <tr><td><strong>Image: </strong> <%= image_tag add_student.image.url,class:"img-circle" %></td></tr>
       <tr><td><strong>Subjects and Marks Associated:</strong>
       <ul >
         <% add_student.student_subjects.each do |subject|%>
           <% if subject.my_subject.present?%>
             <li><%= subject.my_subject.name %>
           <%else %>
             <li><strong style="color:red">No subjects associated </strong>
           <%end %>
           <% if subject.marks.present? %>
             <%= subject.marks %></li>
           <%else%>
              <strong style="color:red">Marks is not assigned! </strong></li>
           <% end %>   
         <% end %>
         </ul>
         </td>   
       </tr>
       <% end %>
     </tbody> 
   </table>
  </div>
  </div>  
<% end %>
<% end %>
